<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>redex</title>
    <link rel="stylesheet" href="/css/product/content.css" />
  </head>
  <body>
    <!-- content -->
    <div class="content">
      <div class="title-content">
        <div class="bg-box-content">
          <div class="box-content"></div>
        </div>

        <h5>We Are Expertise In</h5>

        <h1>We Provide Professional Business Solutions.</h1>
      </div>
      <!-- title -->
    </div>
    <!-- content -->
  </body>
</html>
