<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>redex</title>
    <link rel="stylesheet" href="/css/product/content.css">
</head>
<body>
    <!-- product -->
    <div class="product-container row">
        <div class="product col-4">
          <div class="bg-product"></div>

          <div class="icon-product">
            <img src="/image/icon-product-1.png" alt="" />
          </div>

          <h3>Borderless Networking</h3>

          <div
            class="title-product"
            style="
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
            "
          >
            <p>
              We provide Enterprise-class Borderless Network Solution which help
              eliminating Borders of Devices, Locations and Applications and
              connecting these together, while improving Performance,
              Flexibility and Agility of Network Infrastructure. Our Solution
              includes
            </p>
          </div>

          <div class="readmore">
            <h5>read more</h5>
          </div>
        </div>

        <div class="product col-4">
          <div class="icon-product">
            <img src="/image/icon-product-2.png" alt="" />
          </div>

          <h3>Enterprise Security</h3>

          <div
            class="title-product"
            style="
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
            "
          >
            <p>
              Cyberthreats come in many ways and has been increased every year
              to attack our Company with the goal to gain a benefit from
              disrupting our network. We provide the Complete Enterprise
              Security Solution to mitigate and protect our Customer from Cyber
              Attacks includes
            </p>
          </div>

          <div class="readmore">
            <h5>read more</h5>
          </div>
        </div>

        <div class="product col-4">
          <div class="icon-product">
            <img src="/image/icon-product-3.png" alt="" />
          </div>

          <h3>Datacenter Cloud & Virtualization</h3>

          <div
            class="title-product"
            style="
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
            "
          >
            <p>
              Datacenter Virtualization helpes reducing Cost of Hardware while
              increasing Utilization and Effeciency by enabling resource sharing
              of Computing, Memory, Network and Storage resources. Virtual
              Machine utilize dynamic Resource allocation which could scale,
              move, change easily. The solution includes
            </p>
          </div>

          <div class="readmore">
            <h5>read more</h5>
          </div>
        </div>

        <div class="product col-4">
          <div class="icon-product">
            <img src="/image/icon-product-4.png" alt="" />
          </div>

          <h3>Site Preparation & Datacenter Facility</h3>

          <div
            class="title-product"
            style="
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
            "
          >
            <p>
              Datacenter Facility and Network Cabling are the foundation of IT
              Infrastructure, well planning and design are the key to make
              network connection to scale and stay connected. We have a
              professional team to provide
            </p>
          </div>

          <div class="readmore">
            <h5>read more</h5>
          </div>
        </div>

        <div class="product col-4">
          <div class="icon-product">
            <img src="/image/icon-product-5.png" alt="" />
          </div>

          <h3>IoT - Big Data - AI - Blockchain</h3>

          <div
            class="title-product"
            style="
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
            "
          >
            <p>
              "Big Data" plays a big role in the world's technology today, which
              enables new dimension of Data Management and Analysis. Together
              with Internet-of-Things (IoT) and Antificial Intelligent, new
              innovations could be created limitless. Driving new business
              model, creating new business opportunities and speed up Digital
              Transformation. We provides complete set and tailor-made
              Application includes
            </p>
          </div>

          <div class="readmore">
            <h5>read more</h5>
          </div>
        </div>

        <div class="product-more col-4">
          <!-- <div class="icon-product">

                  <img src="./image/icon-product-1.png" alt="">

              </div> -->

          <h1>More Product</h1>

          <!-- <div class="title-product" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;">
                  <p>
                      Datacenter Virtualization helpes reducing Cost of Hardware while
                      increasing Utilization and Effeciency by enabling resource sharing
                      of Computing, Memory, Network and Storage resources. Virtual
                      Machine utilize dynamic Resource allocation which could scale,
                      move, change easily. The solution includes
                  </p>
              </div>

              <div class="readmore">
                  <h5>read more</h5>
              </div> -->
        </div>
      </div>
      <!-- product -->
</body>
</html>