<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/banner.css">
    <title>redex</title>
</head>
<body>
    <div class="bg-banner">

        <div class="container-banner">

            <div class="info-banner">
                
                <h1>
                    Smart Home Automate System 
                    <br>
                    Solution Provider.
                 </h1>
                
                <p>
                    We, RedEx is redefining your experiences by our,
                    <br/>
                    distinctive Services and Solution Providing to achieve highest Service
                    Excellency.
                </p>

                <div class="btn-light-banner">
                    <img class="logo-light" src="../image/btn-light.png" alt="">

                    <h1>Smart Light</h1>
                    <p>Control the lighting system.</p>

                </div>

                <div class="line-light"></div>
                <div class="line-light2"></div>
                <div class="mark-light"></div>
                
            </div>
            
        </div>

    </div>
</body>
</html>