<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/content.css">
    <title>redex</title>
</head>
<body>
    <div class="content">

        <div class="content-head">
            <h1>
                Why us?
            </h1>
        </div>


        <div class="container-content">

            <div class="container-l">
                <img class="img-why-us1" src="../image/provider-10.png">
            </div>

            <div class="container-r">
                <div class="bg-box">
                    <div class="box">
                    </div>
                </div>
                <div class="title">
                    <h2>
                        IT Solution Provider
                    </h2>
                    <p>
                        We are expert in providing broadrange of IT Solution including, 
                        Borderless Network (Wired&Wireless), NextGen Security Solution, 
                        Cloud Virtualization. - As a True Total IT Solution Provider
                    </p>
                </div>
            </div>

        </div>

        <div class="container-content">

            <div class="container-r">
                <div class="bg-box">
                    <div class="box">
                    </div>
                </div>
                <div class="title">
                    <h2>
                        Consultant Service
                    </h2>
                    <p>
                        Our Expert Team provides Consultant Service to our client,
                        to assess, analyze and develop Gap Analysis, recommendations along with Master Plan.
                        To help, our client meet their Business Target.
                    </p>
                </div>
            </div>

            <div class="container-l">
                <img class="img-why-us2" src="../image/consult-10.png">
            </div>

        </div>

        <div class="container-content">

            <div class="container-l">
                <img class="img-why-us3" src="../image/image-51.png">
            </div>

            <div class="container-r">
                <div class="bg-box">
                    <div class="box">
                    </div>
                </div>
                <div class="title">
                    <h2>
                        AI - IOT - Big Data
                    </h2>
                    <p>
                        Artificial Intelligent + Internet of Things + Big Data
                        is the new combination to drive the business success.
                        We provide tailor made Application, Devices and Platform to drive our client's "NOW FUTURE" business.
                    </p>
                </div>
            </div>

        </div>

    </div>
</body>
</html>