<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/partner.css">
    <title>redex</title>
</head>
<body>
    <div class="partner">
        <br>
        <div class="head-partner">Our Partners</div>
        <!-- <div class="team-partners">
          <div class="part-1">
            <img class="image-30" src="/image/image-300.png" />
            <img class="image-9" src="/image/image-90.png" />
            <img class="image-11" src="/image/image-110.png" />
            <img class="image-8" src="/image/image-80.png" />
            <img class="image-12" src="/image/image-120.png" />
            <img class="image-13" src="/image/image-130.png" />
          </div>
          <div class="part-2">
            <img class="image-322" src="/image/image-320.png" />
            <img class="image-15" src="/image/image-150.png" />
            <img class="image-14" src="/image/image-140.png" />
            <img class="image-16" src="/image/image-160.png" />
            <img class="image-17" src="/image/image-170.png" />
            <img class="image-18" src="/image/image-180.png" />
          </div>
          <div class="part-3">
            <img class="image-33" src="/image/image-330.png" />
            <img class="image-23" src="/image/image-230.png" />
            <img class="image-22" src="/image/image-220.png" />
            <img class="image-19" src="/image/image-190.png" />
            <img class="image-21" src="/image/image-210.png" />
            <img class="image-34" src="/image/image-340.png" />
          </div>
          <div class="part-4">
            <img class="image-27" src="/image/image-270.png" />
            <img class="image-26" src="/image/image-260.png" />
            <img class="image-25" src="/image/image-250.png" />
            <img class="image-24" src="/image/image-240.png" />
            <img class="image-28" src="/image/image-280.png" />
            <img class="image-35" src="/image/image-350.png" />
          </div>
        </div> -->

          <div class="team-partners">
              <img class="image-30" src="/image/image-300.png" />
              <img class="image-9" src="/image/image-90.png" />
              <img class="image-11" src="/image/image-110.png" />
              <img class="image-8" src="/image/image-80.png" />
              <img class="image-12" src="/image/image-120.png" />
              <img class="image-13" src="/image/image-130.png" />
              <img class="image-322" src="/image/image-320.png" />
              <img class="image-15" src="/image/image-150.png" />
              <img class="image-14" src="/image/image-140.png" />
              <img class="image-16" src="/image/image-160.png" />
              <img class="image-17" src="/image/image-170.png" />
              <img class="image-18" src="/image/image-180.png" />
              <img class="image-33" src="/image/image-330.png" />
              <img class="image-23" src="/image/image-230.png" />
              <img class="image-22" src="/image/image-220.png" />
              <img class="image-19" src="/image/image-190.png" />
              <img class="image-21" src="/image/image-210.png" />
              <img class="image-34" src="/image/image-340.png" />
              <img class="image-27" src="/image/image-270.png" />
              <img class="image-26" src="/image/image-260.png" />
              <img class="image-25" src="/image/image-250.png" />
              <img class="image-24" src="/image/image-240.png" />
              <img class="image-28" src="/image/image-280.png" />
              <img class="image-35" src="/image/image-350.png" />
          </div>
          
    </div>
</body>
</html>