<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>redex</title>
    <link rel="stylesheet" href="/css/about/banner.css">
</head>
<body>
    <!-- banner -->
    <div class="bg-banner">

        <div class="banner">

            <div class="banner-l">
                <div class="bg-box">
                    <div class="box"></div>
                </div>

                <div class="title">
                    <h5>About Us.</h5>
                    
                    <h1>
                        We have over 10+ years in the Tech Industry.
                    </h1>

                </div>
            </div>

            <div class="banner-r">
                
            </div>

        </div>

    </div>
    <!-- banner -->
</body>
</html>