<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>redex</title>
    <link rel="stylesheet" href="/css/about/content.css">
</head>
<body>
    <!-- content -->
    <div class="content-about">

        <div class="content-img">

            <img class="content-img1" src="/image/about-content-img1.png" alt="">
            <img class="content-img2" src="/image/about-content-img2.png" alt="">

        </div>

        <div class="content-info">

            <div class="content1">

                <div class="bg-plus">

                    <img class="plus" src="/image/about-plus.png" alt="">

                </div>
                
                <div class="title_about">

                    <h2>CERTIFIED PROFESSIONAL</h2>

                    <p>
                    Risus viverra adipiscing at in tellus
                    integer feugiat. Aenean et tortor at risus viverra.
                    </p>

                </div>

            </div>

            <div class="content2">

                <div class="bg-plus">

                    <img class="plus" src="/image/about-plus.png" alt="">

                </div>

                <div class="title_about">

                    <h2>DEDICATED TEAMS</h2>

                    <p>
                    Risus viverra adipiscing at in tellus
                    integer feugiat. Aenean et tortor at risus viverra.
                    </p>

                </div>

            </div>

            <div class="content3">

                <div class="bg-plus">

                    <img class="plus" src="/image/about-plus.png" alt="">

                </div>

                <div class="title_about">

                    <h2>24/7 SUPPORT TEAM</h2>

                    <p>
                    Risus viverra adipiscing at in tellus
                    integer feugiat. Aenean et tortor at risus viverra.
                    </p>

                </div>

            </div>

        </div>

        <div class="content-detail">

            <div class="head-detail">

                <h1>Our Vision and Mission</h1>

            </div>

            <div class="detail">

                <h2>Business Vision</h2>

                <p>
                    To be the most flexible and completed IT Solution Provider
                    Company that consistently growing our experts network to work
                    together as the alliance that could fulfill all requirement gaps.
                </p>

            </div>

            <div class="detail">
                
                <h2>Business Mission</h2>

                <p>
                    Our mission is to help enable our customers to unlock their Business
                    restriction by providing flexible, knowledgeable IT Consulting Service,
                    Solution and Product. Delivering Service to variety of customer type while
                    building strong partnership as our intimate partner.
                </p>

            </div>
        
        </div>

    </div>

    <!-- content -->
</body>
</html>