<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>redex</title>
    <link rel="stylesheet" href="/css/about/detail.css">
</head>
<body>
    <!-- detail -->
    <div class="detail">

        <div class="title">

            <h1>We are Red Excellent</h1>

            <p>
                Red Excellent was established in 2016 by 3 Co-Founders who have lot of experiences
                in IT Business for more than 10 years. We early started our business by setup 
                fundamental framework and awareness to work with our Team and Partner and Customer.
                The "WIN-WIN" methodology has been established in every business aspects, 
                with the Goal of Longterm Partnership with our Partners and Customers, 
                and also been applied to our Team Building fundamental.
     
    
                We are strong at providing Complete End-to-End IT Solution. We could provide either
                Turn-Key Solution or Fulfilment, with our broadrange of Technical Knowledge along
                with our Professional Team and Top Leading Products in the Market. We are also
                Flexible to Design, Choose and Delivery Solutions and Products, depend on our
                Customer's requirement, budgetary and objectives. So we ensure the Success and
                Best of Solution Providing, which is most meet and appropriate with Customer's Requirement.
            </p>

        </div>

    </div>
    <!-- detail -->
</body>
</html>