<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>redex</title>
    <link rel="stylesheet" href="/css/about/team.css">
</head>
<body>
    <!-- team -->
    <div class="team">

        <div class="title-team">

            <div class="bg-box">

                <div class="box"></div>
                
            </div>

            <h5>Our Team</h5>

            <h1>Meet Our Experts</h1>

        </div>
        <!-- title -->

        <div class="container-team">

            <div class="team-1"><img src="/image/profile1.png" alt=""></div>
            <div class="team-2"><img src="/image/profile2.png" alt=""></div>
            <div class="team-3"><img src="/image/profile3.png" alt=""></div>

        </div>
        
    </div>
    <!-- team -->
</body>
</html>