@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap");

.bg-banner {
    background-color: #171717;
    margin: 0 auto;
}
.banner {
    /* max-width: 1440px; */
    width: 100%;
    height: 400px;
    /* background-color:antiquewhite; */
    margin: 0 auto;
}
.banner-l {
    width: 40%;
    height: 400px;
    /* background-color: #171717; */
    background-color: #37393F;
    
    float: left;
    text-align: left;
    align-items: center;
    justify-items: center;
    padding: 110px 80px 0 145px;
}
.bg-box {
    float: left;
    width: 16px;
    height: 100%;
    /* background-color: aqua; */
    float: left;
    margin: 15px;
    margin-top: 6px;
}
.box {
    width: 11px;
    height: 11px;
    background-color: red;
}
.title h1{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #FFFF;
}
.title h5 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FFFF;
}
.title p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #B9B9B9;
}
.banner-r {
    /* width: 60%; */
    width: 61%;
    background: url("/image/product-banner.png") no-repeat;
    height: 401px;
    background-size: cover;
    float: left;
    margin-top: -1px;
}