@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap");

.detail {
    width: 80%;
    height: auto;
    margin: 40px auto;
    text-align: center;
}
.detail h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #ED3D3F;
}
.detail p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #575757;
    text-align: justify;
}